/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Main Menu Bar Style */
.main-menu-bar
{
  position: absolute;
  top: 0;
  width: 8vh;
  height: 100vh;
  background: var(--secondary-color);
  z-index: 11;
}